@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@900&display=swap');
body {
    max-width: 700px;
    margin: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    max-height: 120px;
}

@media only screen and (max-width: 600px) {
    header {
      max-height: 200px;
    }

    h1 {
        padding: 5px 30px;
    }

    main {
        padding: 40px 30px 15px;
    }
  }

h1 {
    color: #fff;
    font-size: 2.5em;
    font-family: 'Merriweather' , Georgia, serif;
    padding: 10px 30px 5px;
}

img {
    grid-column-start: 2;
    margin: 25px 25px 0px 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

h2 {
    font-weight: 700;
    font-family:  'Lato', sans-serif;
}

ul li {
   font-family:  'Lato', sans-serif;
   line-height: 1.8em;
}

main {
    margin: 0px 30px;
}

header, footer {
    background-color: #19a593;
    border-radius: 15px;
}

footer {
    color: #fff;
    font-family:  'Lato', sans-serif;
    font-weight: 400;
    font-size: .8em;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #fff;
}