@media only screen and (min-width: 36em) {
    #primaryNav {
        max-width: 1000px;
        margin: auto;
    }

    main {
        max-width: 1000px;
        margin: auto;
    }

    .herodiv {
        width: 96%;
        margin: auto;
        overflow: hidden;
    }

    .herodiv .hero img {
        width: 120%;
        overflow: hidden;
    }

    .weathersummary {
        top: 25px;
        left: 25px;
        padding: 1.5rem;
    }
    
    .weathersummary h3 {
        font-size: 1.2rem;
        margin-top: -.4rem;
    }
    
    .line {
        border: 1px solid  #000;
    }
    
    .weathersummary p {
        margin-top: 10px;
        font-size: 0.9rem;
    }

    .forecast {
        display: block;
        margin-top: 35px;
        text-align: center;
        color: var(--secondary-color);
    }

    .forecast h3 {
        margin-bottom: -10px;
    }

    .weathertable {
        width: 90%;
        min-width: 350px;
        text-align: center;
        margin: 20px auto 0 auto;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }
    .weathertable th {
        background-color: var(--primary-color);
        padding: 10px;
    }
    .weathertable td {
        width: 20%;
        padding: 10px;
    }

    .weathertable img {
        max-width: 65%;
    }

    .weathertable tr:nth-child(3) {
        color: #000;
    }

    .weathertable tr:nth-child(3) td {
        padding-top: 0px;
        padding-bottom: 25px;
    }

    .article::after {
        content: "";
        clear: both;
        display: block;
      }

    .article img {
        float: right;
        max-width: 400px;
        margin: 10px;
    }

    .gallery {
        width: auto;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }

    footer {
        max-width: 1000px;
        margin: auto;
    }

    #mainfooter {
        text-align: center;
        column-count: 2;
    }

    .map {
        display: inline-block;
        max-width: 300px;
    }
    
}