@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 1.1em;
}

picture img {
    background: #58585f;
    width: 400px;
    height: 300px;
    display: block;
    margin: 10px auto;
    border: 0;
    filter: blur(0em);
    transition: filter 0.5s;
  }

  picture img[data-src] {
    filter: blur(0.2em);
  }
  