@media only screen and (min-width: 38.5em) {
    #primaryNav {
        max-width: 1000px;
        margin: auto;
    }

    
    main {
        max-width: 1000px;
        margin: auto;
    
    }

    footer {
        max-width: 1000px;
        margin: auto;
    }
    
}