@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto+Slab:wght@300;400;500;600;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1f417d;
    --secondary-color: #3C827A;
    --accent1-color: #f6d65b;
    --accent2-color: #ec563c;
}

body {
	padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #fff;
	padding: 15px 0;
}

img.logo {
    max-width: 350px;
    height: auto;
    margin: auto;
    display: block;
}

.m {
    font-style: italic;
    font-weight: 700;
	color: var(--secondary-color);
    text-align: center;
    margin-right: 195px;
	font-size: 1rem;
}

nav {
	background-color: var(--primary-color);
    text-align: center;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 1rem;
    border-top:1px solid rgba(0,0,0,0.3);
}

nav ul li.current a {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
	background: rgba(0,0,0,0.4);
}

img.hamburger {
    width: 25px;
    margin: .8rem 2% .5rem;
    cursor: pointer;
}

nav ul.hide {
    display: none;
}

main {
    margin: auto;
    padding: 20px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    color: var(--secondary-color);
    font-size: 2rem;
}

section {
    background-color: #ccc;
}

#hero, #forecast, #article {
    margin: 20px 0px;
    padding: 100px 20px;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
}

#mainfooter {
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 70px;
}

#bottom-footer {
    color: #fff;
    padding: 20px;
  
}

