@media only screen and (min-width: 53.75rem) {

    nav ul li a {
        padding: .6rem 1rem;
    }

    nav ul { display: flex; }
    nav ul li { flex: 1 1 100%; 
    }

    nav img.hamburger {
        display: none;
    }
    
    nav ul li a {
        min-width: 90px;
        padding: .8rem .3rem;
    }

    nav ul.hide {
        display: flex;
    }

    ul li a.noborder {
        border-right: none;
    }

    #mainfooter {
        max-width: 750px;
    }
}