@media only screen and (min-width: 38.5em) {
    #primaryNav {
        max-width: 1000px;
        margin: auto;
    }

    main {
        max-width: 1000px;
    }

    #footer-wrapper {
        max-width: 1000px;
        margin: auto;
    }

    #mainfooter {
        text-align: center;
        column-count: 2;
    }

    .map {
        display: inline-block;
        max-width: 300px;
    }

    #map {
        display: block;
        height: 300px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    
}